<table>
  <caption>
    Children
  </caption>

  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.score %></td>
        <td><%= child.status || "N/A" %></td>
        <td>
          <%= button_to [:score, child] do %>
            Score
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>