<h1>Statistics</h1>
<p>
  Total number of jobs: <%= JobExecution.total_count %>.
</p>
<p>
  Total duration of jobs: <%= (JobExecution.total_duration / 1000.0).round(2) %>s.
</p>

<ul>
  <li>
    <%= button_to no_op_jobs_path do %>
      Schedule a no-op job
    <% end %>
  </li>
  <li>
    <%= button_to exploding_jobs_path do %>
      Schedule a forever-explode job
    <% end %>
  </li>
</ul>